<div>

    <h1>
        <font color="darkblue">CHAT_APP</font>
    </h1>
    <div align="center">
        <h2>Registration Form</h2>

        <form action="#/created">
            First Name:
            <input type="text" name="Firstname" placeholder="firstname" required>
            <br>
            
            <br /> Last Name:
            <input type="text" name="Lastname" placeholder="lastname" required>
            <br> 
            <br />Mobile number:
            <input type="number"  placeholder="phone number" >
            <br> 
            <br />Mail ID:
            <input type="email" name="Mail id"  placeholder="xyz@gmail.com" required> 
            <br> 
            <br />Create Password:
            <input type="password" name="Password" value="" required>
            <br>
            <br /> Re-enter Password:
            <input type="password" name="Password" value="" required>
            <br><br>
            <input type="submit" value="Register">
            <input type="reset" value="reset">
        </form>
    </div>
    </div>

