<!DOCTYPE html>
<html>


<head>

    <title>ChatApp</title>
<link rel="stylesheet" href="/home/abc/VSC code/project_chatapp/public/template/style.css">
</head>


<body>

    <h1>
        <font color="darkblue">CHAT_APP</font>
    </h1>

    <!-- <body background="/home/abc/Downloads/chatting.png" ></body> -->
    <div align="center">
        <h2>Registration Form</h2>

        <form action="/home/abc/VSC code/project_chatapp/public/template/login.html">
            First Name:
            <input type="text" name="Firstname" placeholder="firstname" required>
            <br>
            
            <br /> Last Name:
            <input type="text" name="Lastname" placeholder="lastname" required>
            <br> 
            <br />Mobile number:
            <input type="number" name="Mobile number" placeholder="9999988888" required>
            <br> 
            <br />Mail ID:
            <input type="email" name="Mail id"  placeholder="xyz@gmail.com" required> 
            <br> 
            <br />Create Password:
            <input type="password" name="Password" value="" required>
            <br>
            <br /> Re-enter Password:
            <input type="password" name="Password" value="" required>
            <br><br>
            <input type="submit" value="Register">
        </form>
    </div>
</body>

</html>