<!-- <!DOCTYPE html>
<html>

<head>
    <title>Chat App</title>
    <link rel="stylesheet" href="../asset/style.css">
</head> -->


    <div align="center">


        <br /> <br /> <br /> <br /> <br /> <br />
        <h2>Home Page</h2><br />


        <form action="/chat.html"> Username:
        <input type="text" name="Username" value="firstname" required>
        <br>

        <br /> Password:
        <input type="password" name="Username" value="password" required>
        <br>
        <br />


        <input type="submit" value="log in">

        </form>

        <form action="first.html">
            <input type="submit" value="sign up">
        </form>


    </div>
