<!DOCTYPE html>
<html>

<head>
    <title>Chat App</title>
    <link rel="stylesheet" href="/home/abc/VSC code/project_chatapp/public/template/style.css">
</head>

<body>


    <div align="center">
        
        <br /> <br /> <br /> <br /> <br /> <br />
        <h2>Log-in Page</h2><br /> Username:
        <input type="text" name="Username" value="firstname" required>
        <br>

        <br /> Password:
        <input type="password" name="Username" value="password" required>
        <br>
        <br />
        <form action="/home/abc/VSC code/project_chatapp/public/template/chat.html"/>
            <input type="submit" value="log in">
        </form>
       <!-- <h6> <a href="forgot your password">forgot your password???</a></h6> -->
        <form action="/home/abc/VSC code/project_chatapp/public/template/first.html">
            <input type="submit" value="cancel">
        </form>
    </div>

</body>

</html>